:root {
  --primary-color: #c42424;
  --white-color: #e8e8e8;
}

.container-modal {
  padding: 33px;
}

.title-modal {
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 34px;
}

.footer-modal {
  margin-top: 20px;
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: center;
}

.btn-modal, .btn-modal:hover, .btn-modal:active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  margin-top: 30px;
}
